section#address {
  margin-top: 6rem;

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .card {
      display: flex;
      gap: 1rem;

      .icon {
        background-color: $secondary-color;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
      }

      h3 {
        margin-bottom: 0.8rem;
      }

      p {
        color: $mid-light-color;
      }
    }
  }
}

@media (max-width: 920px) {
  section#address {
    margin-top: 4rem;

    .content {
      .card {
        flex-direction: column;
        align-items: center;

        .icon {
          width: 5rem;
          height: 5rem;
        }

        h3 {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  section#address {
    margin-top: 4rem;
    .content {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      gap: 1.2rem;
      .card {
        flex-direction: row;
        width: 300px;
        .icon {
          width: 3.8rem;
          height: 3.8rem;
          font-size: 1.8rem;
        }
      }
    }
  }
}
