footer {
  margin-top: 6rem;
  .content {
    border-top: 1px solid $mid-dark-color;
    padding: 2.5rem 0;
    display: flex;
    justify-content: end;
    gap: 1rem;

    div {
      display: flex;
      gap: 1rem;
    }

    p {
      color: $mid-light-color;
      margin-right: auto;
    }
  }
}

@media (max-width: 700px) {
  footer {
    margin-top: 4rem;

    .content {
      padding: 2rem 0;
      flex-direction: column;
      align-items: center;

      p {
        margin-right: 0rem;
        text-align: center;
      }
    }
  }
}
